.flex-container {
  display: flex;
  flex-direction: column;
}

.flex_item {
  margin-top: auto;
}

.wrapperMy{  
font-family:'Noto Sans KR',sans-serif;
    min-height:574px;
    min-width:700px;
    width:100%;
    display:flex; 
}

#navbarMy{ 
    background-color:#efefef;
    min-width:250px;
    width:20%;
    /*
   min-height: inherit;
    height:100%;
    width:25%;
    float:left;
*/
/*
   height:100%;
*/
}

#sectionMy{ 
   min-width:700px;
   width:80%;
/*
   height:100%;
   min-height:inherit;
*/
}

.navbarTitle span{
   font-size:15pt;
   margin: 10px 10px 10px 80px;
   display:none;   
}
.navbarUserInfo{
   margin-top:20px;
   text-align: center;
}
.navbarPoint{
   margin-top:20px;
   text-align: center;
}
.navbarMenu li{
   margin:20px 0 20px 0;
}
.navbarMenu ul{
   list-style:none;
}
#navbarHr{
   border:1px solid white;
}
    
/* 내정보변경 */
.title {
   font-family: 'Ubuntu-Bold', sans-serif;
   font-size: 16px;
   color: #474c4c;
   width: 100%;
   line-height: 0.5;
   margin-top: 10px;
   padding: 5px;
   position: relative;
}
#p {
    font-size: 30px;
   color: #373737;
   line-height: 1;
    font-weight: 900;
}
.content{
   font-family: 'Ubuntu-Regular', sans-serif;
   font-size: 16px;
   color: #474c4c; 
   font-weight: 700;
   width: 100%;
   padding: 5px;
   border: 1px solid transparent;
}
.content ul {
    list-style: none;
    display: block;
   float: left;
    padding: 0px;
}
.content li {
   float: left;
   width: 200px;
   height: 30px;
   text-align: left;
}
.content input {
   width: 200px;
   height: 30px;
   border: 1px solid #ebebeb;
   background: transparent;
   box-sizing: border-box;
}
input:focus, select:focus, textarea:focus {
   outline: none;
   box-shadow: none !important;
   -moz-box-shadow: none !important;
   -webkit-box-shadow: none !important;
   -o-box-shadow: none !important;
   -ms-box-shadow: none !important; 
}
hr {
   display: block;
   unicode-bidi: isolate;
   margin-block-start: 0.5em;
   margin-block-end: 0.5em;
   margin-inline-start: auto;
   margin-inline-end: auto;
   overflow: hidden;
   border-style: inset;
   border-width: 1px;
}


/*내 설문조사 css*/
.RegisterSurbey{
	width: 70%;
	height: auto;
	margin: auto;
	margin-top :2%;
	border-collapse: collapse;
}

.RegisterSurbey tr{
	padding: 15px 10px;
    font-size: 18px;
    border-bottom: 1px solid #818484;    
    color:#474c4c;
}

.RegisterSurbey tr:hover{
	background-color: #9c9c9c6b;
}

.RegisterSurbey td, th{
	padding: 3%;
}

.RegisterSurbey th{
	background-color:#818484; 
	color:white;
}



/*페이징 css*/
.paging ul {
	margin-left: 40%;
	margin-top: 2.5%;
	list-style: none;
	float: left;
	display: inline;
}

.paging ul li {
	float: left;
}

.paging ul li a:hover, ul li a:focus  {
	color: #fff;
	border: 1px solid #01aef0;
	background-color: #01aef0;
}

.paging_bf, .paging_af {
	padding: 4px;
	margin-right: 3px;
	width: 35px;
	color: #474c4c;
	font: 20px tahoma;
	font-weight: 500;
	border: 1px solid #d2d2d2;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

.paging_bf:hover, .paging_bf:focus, .paging_af:hover, .paging_af:focus {
	color: #fff;
	border: 1px solid #adacac;
	background-color: #adacac;
}
.mypleft, .mypright {
	padding: 4px;
	margin-right: 3px;
	width: 35px;
	color: #474c4c;
	font: 20px tahoma;
	font-weight: 500;
	border: 1px solid #d2d2d2;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

.mypleft:hover, .mypleft:focus, .mypright:hover, .mypright:focus {
	color: #fff;
	border: 1px solid #adacac;
	background-color: #adacac;
}



.focus {
	color: white;
	border: 1px solid #01aef0;
	background-color: #01aef0;
	float: left;
	padding: 4px;
	margin-right: 3px;
	width: 35px;
	font: 20px tahoma;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

.nofocus {
	float: left;
	padding: 4px;
	margin-right: 3px;
	width: 35px;
	color: #474c4c;
	font: 20px tahoma;
	font-weight: 500;
	border: 1px solid #d2d2d2;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}
