/*[ FONT ]*/

@font-face {
  font-family: Ubuntu-Regular;
  src: url('../../login/fonts/ubuntu/Ubuntu-Regular.ttf'); 
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url('../../login/fonts/ubuntu/Ubuntu-Bold.ttf'); 
}

/* @extend display-flex; */
display-flex, .display-flex, .display-flex-center {
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli {
  list-style-type: none;
  margin: 0;
  padding: 0; }


a:focus, a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s; 
}

input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important; 
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0; 
}

input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important; 
}

input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important; 
}

input[type=radio] {
    appearance: radio !important;
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important; 
}

img {
    max-width: 100%;
    height: auto; 
}

figure {
    margin: 0; 
}

p {
    margin-bottom: 0px;
    font-size: 15px;
    color: #777;
}

h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: #474c4c;
    font-family: 'Ubuntu-Bold', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.clear {
    clear: both; 
}

.reg_body1 {
    font-size: 14px;
    line-height: 1.8;
    color: #474c4c;
    font-weight: 400;
    font-family: 'Nanum Gothic', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
}

.reg_container {
  width: 660px;
  position: relative;
  margin: 0 auto; 
}

.display-flex {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; 
}

.display-flex-center {
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; 
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); 
}

.signup-content {
  background: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  padding: 50px 85px; 
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    border: 1px solid transparent;
    border-radius: 3px;
}

.form-input {
    width: 100%;
    display: block;
    border: 1px solid #ebebeb;
    background: transparent;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    color: #474c4c; 
    font-family: "Ubuntu-Regular";
}

.form-input::-webkit-input-placeholder {
    font-family: 'Ubuntu-Regular', sans-serif;
    color: #b0b5b5; 
    font-size : 18px;
}

.form-input::-moz-placeholder {
    font-family: 'Ubuntu-Regular', sans-serif;
    color: #b0b5b5; 
    font-size : 18px;
}

.form-input:-ms-input-placeholder {
    font-family: 'Ubuntu-Regular', sans-serif;
    color: #b0b5b5; 
    font-size : 18px;
}

.form-input:-moz-placeholder {
    font-family: 'Ubuntu-Regular', sans-serif;
    color: #b0b5b5; 
    font-size : 18px;
}

.focus-input {
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid transparent;
    -webkit-border-image-source: -webkit-linear-gradient(to right, #01aef0, #00ebfc);
    -moz-border-image-source: -moz-linear-gradient(to right, #01aef0, #00ebfc);
    -o-border-image-source: -o-linear-gradient(to right, #01aef0, #00ebfc);
    border-image-source: linear-gradient(to right, #01aef0, #00ebfc);
    -webkit-border-image-slice: 1;
    border-image-slice: 1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    background-origin: border-box;
    background-clip: content-box, border-box; 
       
    visibility: hidden;
    opacity: 0;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);

}
.form-input:focus + * + * + *{
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.form-input:focus + * + * {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.form-input:focus + * {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.form-input:focus::-webkit-input-placeholder {
    font-family: 'Ubuntu-Regular', sans-serif;
    font-size: 18px;
    color: #474c4c; 
}

.form-input:focus::-moz-placeholder {
    font-family: 'Ubuntu-Regular', sans-serif;
    font-size: 18px;
    color: #474c4c; 
}

.form-input:focus:-ms-input-placeholder {
    font-family: 'Ubuntu-Regular', sans-serif;
    font-size: 18px;
    color: #474c4c; 
}
.form-input:focus:-moz-placeholder {
    font-family: 'Ubuntu-Regular', sans-serif;
    font-size: 18px;
    color: #474c4c; 
}

.form-submit {
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-family: 'Ubuntu-Bold', sans-serif;
    background-image: -moz-linear-gradient(to left, #01aef0, #00ebfc);
    background-image: -ms-linear-gradient(to left, #01aef0, #00ebfc);
    background-image: -o-linear-gradient(to left, #01aef0, #00ebfc);
    background-image: -webkit-linear-gradient(to left, #01aef0, #00ebfc);
    background-image: linear-gradient(to left,#01aef0 ,#00ebfc ); 
    font-size: 20px;
    
}

input[type=checkbox]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none; 
}

input[type=checkbox]:not(old) + label {
  display: inline-block;
}

input[type=checkbox]:not(old) + label > span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 15px;
  margin-bottom: 3px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  background: white;
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
  vertical-align: bottom; 
}

input[type=checkbox]:not(old):checked + label > span {
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white); 
}

input[type=checkbox]:not(old):checked + label > span:before {
  content: '\f26b';
  display: block;
  color: #222;
  font-size: 11px;
  line-height: 1.2;
  text-align: center;
  font-family: 'Material-Design-Iconic-Font';
  font-weight: bold; 
}

.loginhere {
  	color: #474c4c;
    font-family: 'Ubuntu-Regular', sans-serif;
    font-size: 18px;	
    text-align: center;
 	margin-top: 20px;
	margin-bottom: 5px;
}

.loginhere-link {
  font-weight: 700;
  color: #474c4c; 
}

.field-icon {
  float: right;
  margin-right: 17px;
  margin-top: -32px;
  position: relative;
  z-index: 2;
  color: #474c4c; 
}

.confirm, .condition {
    font-family: 'Ubuntu-Regular', sans-serif;
    font-size : 15px;
    color: red;
   
}

.check_font{
	font-family: 'Ubuntu-Regular', sans-serif;
	font-size : 15px;
}

@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 40px);
    max-width: 100%; } }
@media screen and (max-width: 480px) {
  .signup-content {
    padding: 50px 25px; } }

/*# sourceMappingURL=style.css.map */
.form-submit:disabled {
	background-image: -moz-linear-gradient(to left,#6d7878,#afb6b6); 
    background-image: -ms-linear-gradient(to left,#6d7878,#afb6b6); 
    background-image: -o-linear-gradient(to left,#6d7878,#afb6b6); 
    background-image: -webkit-linear-gradient(to left,#6d7878,#afb6b6); 
    background-image: linear-gradient(to left,#6d7878,#afb6b6); 
}