<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Board 관련 sql문 작성 -->
<mapper namespace="Board">

	<!-- 설문조사 폼 저장 -->
	<insert id="surveySave" parameterType="Bdto">
		insert into board(title,code,hashtag,deadline,point,nick,boardIcon)
		values(#{title},#{code},#{hashtag},#{deadline},#{point},#{nick},#{boardIcon})
	</insert>

	<!-- 가장 최근 번호 가져오기 -->
	<select id="currentNum" parameterType="Bdto" resultType="int">
		SELECT * FROM board ORDER BY NUM DESC limit 1
	</select>

	<!-- 설문조사 폼 가져오기 -->
	<select id="surveySelect" resultType="Bdto">
		select * from board where num=#{num}
	</select>

	<!-- 조회수 올리기 -->
	<update id="up">
		update board set hit= hit+1 where num=#{num}
	</update>

	<!-- 설문조사 수정 -->
	<update id="surveyUpdate" parameterType="Bdto">
		update board set title=#{title}, code=#{code}, hashtag=#{hashtag},
		deadline=#{deadline}, boardIcon=#{boardIcon} where num = #{num}
	</update>

	<!-- 설문조사 (전체)가져오기 -->
	<select id="surveyAllSelect" resultType="Bdto">
		SELECT * FROM board order by num desc
	</select>

	<!-- 설문조사 삭제 -->
	<delete id="surveyDelete" parameterType="int">
		delete from board where num=#{num}
	</delete>
	
	<delete id="takesurveyDelete" parameterType="int">
		delete from TakeSurvey where bnum=#{bnum}
	</delete>
	
	<delete id="voteDelete" parameterType="int">
		delete from vote where num=#{num}
	</delete>

	<!-- 설문조사 검색 -->
	<select id="surveySearch" parameterType="String" resultType="Bdto">
		SELECT * FROM board where hashtag like CONCAT('%',#{hashtag},'%')
	</select>

	<!-- 설문조사 투표 -->
	<insert id="surveyVote" parameterType="Vdto">
		insert into vote(nick,num,result) values(#{nick},#{num}, #{result})
	</insert>

	<!-- 설문조사 결과 -->
	<select id="surveyResult" resultType="Vdto">
		select * from vote where num = #{num}
	</select>

	<!-- 설문조사 전체 글수 가져오기 -->
	<select id="board_getTotalPage" resultType="int">
		select count(*) from board where deadline>=date_add(now(), interval -1 day)
	</select>
	
	<!-- 내가 등록한 설문(전체 글수) -->
	<select id="board_getTotalPage_nick"  parameterType="String" resultType="int">
		select count(*) from board where nick=#{loginUser}
	</select>
	
	<!-- 최신 참여 설문 (전체 글수) -->
	<select id="getTotalPage_take" parameterType="String" resultType="int">
		select count(*) from TakeSurvey where nick=#{loginUser}
	</select>
	
	<!-- 페이징 리스트 가져오기 (나의 등록) -->
	<select id="board_pagingList_nick" parameterType="Pdto" resultType="Bdto">
		select * from board where deadline>=date_add(now(), interval -1 day) order by deadline limit #{startPage}, #{endPage}
	</select>
	
	<!-- 페이징 리스트 가져오기 (최신 참여 설문) -->
	<select id="board_pagingList_take" parameterType="Pdto" resultType="Tdto">
		select * from TakeSurvey where nick=#{nick} order by num desc limit #{startPage}, #{endPage}
	</select>
	
	<!-- 참여한 설문조사 등록 -->
	<insert id="takeSurbey" parameterType="Tdto">
		insert into TakeSurvey(nick,title,deadline,hit,point,bnum) 
		values(#{nick},#{title},#{deadline},#{hit},#{point},#{bnum})
	</insert>
	
	<!-- 참여한 설문조사 검색(최신순) -->
	<select id="TakeSurbeySearch" parameterType="String" resultType="Tdto">
		select * from TakeSurvey WHERE nick=#{loginUser} ORDER BY num DESC
	</select>
	
	<!-- 설문조사에 참여한 사람 가져오기 -->
	<select id="VoteSelect" parameterType="int" resultType="String">
		select nick from vote where num=#{num}
	</select>

	<!-- 페이징 리스트 가져오기(최신순) -->
	<select id="board_pagingList" parameterType="Pdto" resultType="Bdto">
		select * from board where deadline>=date_add(now(), interval -1 day) order by num desc limit #{startPage}, #{endPage}
	</select>
	
	<!-- 페이징 리스트 가져오기(조회수) -->
	<select id="board_pagingList_hit" parameterType="Pdto" resultType="Bdto">
		select * from board where deadline>=date_add(now(), interval -1 day) order by hit desc limit #{startPage}, #{endPage}
	</select>
	
	<!-- 페이징 리스트 가져오기(마감순) -->
	<select id="board_pagingList_deadline" parameterType="Pdto" resultType="Bdto">
		select * from board where deadline>=date_add(now(), interval -1 day) order by deadline asc limit #{startPage}, #{endPage}
	</select>
  
	<!-- 포인트 히스토리 --> 
	<select id="pointHistory" parameterType="String" resultType="Tdto">
		select * from TakeSurvey where nick=#{loginUser} order by dt desc
	</select>
	
	<select id="dateSecond" parameterType="String" resultType="String">
		select dt from TakeSurvey  where nick=#{loginUser} order by dt desc
	</select>
 
	<!-- best 설문조사 -->
	<select id="bestServey" resultType="Bdto">
		SELECT * FROM board where deadline >= date_add(now(), interval -1 day) ORDER BY point desc, hit DESC limit 3
	</select> 
	
	<!-- 포인트 내역 (증가 감소 전부 나옴) -->
	<select id="pointlog" parameterType="String" resultType="Tdto">
		select * from (select title,nick, dt, point from TakeSurvey where nick= #{ loginUser }
		union all select title,nick, createDate, ((point+1000)*-1) from board where nick=#{ loginUser })tmp order by dt desc;
	</select> 
	
</mapper>
