<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Board 관련 sql문 작성 -->
<mapper namespace="Board">

	<!-- 설문조사 폼 저장 -->
	<insert id="surveySave" parameterType="Bdto">
		insert into board(num,title,code,hashtag,deadline,point,nick,boardIcon)
		values(board_num.nextval,#{title},#{code},#{hashtag},#{deadline},#{point},#{nick},#{boardIcon})
	</insert>

	<!-- 가장 최근 번호 가져오기 -->
	<select id="currentNum" parameterType="Bdto" resultType="int">
		SELECT * FROM (SELECT * FROM board ORDER BY NUM DESC) WHERE ROWNUM = 1
	</select>

	<!-- 설문조사 폼 가져오기 -->
	<select id="surveySelect" resultType="Bdto">
		select * from board where num=#{num}
	</select>

	<!-- 조회수 올리기 -->
	<update id="up">
		update board set hit= hit+1 where num=#{num}
	</update>

	<!-- 설문조사 수정 -->
	<update id="surveyUpdate" parameterType="Bdto">
		update board set title=#{title}, code=#{code}, hashtag=#{hashtag},
		deadline=#{deadline}, boardIcon=#{boardIcon} where num = #{num}
	</update>

	<!-- 설문조사 (전체)가져오기 -->
	<select id="surveyAllSelect" resultType="Bdto">
		SELECT * FROM BOARD order by num desc
	</select>

	<!-- 설문조사 삭제 -->
	<delete id="surveyDelete" parameterType="int">
		delete from board where num=#{num}
	</delete>
	
	<delete id="takesurveyDelete" parameterType="int">
		delete from TAKESURVEY where bnum=#{bnum}
	</delete>
	
	<delete id="voteDelete" parameterType="int">
		delete from vote where num=#{num}
	</delete>

	<!-- 서베이 서치 -->
	<select id="surveySearch" parameterType="String"
		resultType="Bdto">
		SELECT * FROM BOARD where hashtag like '%' || #{hashtag} || '%'
	</select>

	<insert id="surveyVote" parameterType="Vdto">
		insert into vote(nick,num,result) values(#{nick},#{num}, #{result})
	</insert>

	<select id="surveyResult" resultType="Vdto">
		select * from vote where num = #{num}
	</select>

	<!-- 설문조사 전체 글수 가져오기 -->
	<select id="board_getTotalPage" resultType="int">
		select count(*) from board where deadline>=sysdate-1
	</select>
	
	<!-- 내가 등록한 설문(전체 글수) -->
	<select id="board_getTotalPage_nick"  parameterType="String" resultType="int">
		select count(*) from board where nick=#{loginUser}
	</select>
	
	<!-- 최신 참여 설문 (전체 글수) -->
	<select id="getTotalPage_take" parameterType="String" resultType="int">
		select count(*) from TakeSurvey where nick=#{loginUser}
	</select>
	
	<!-- 페이징 리스트 가져오기 (나의 등록) -->
	<select id="board_pagingList_nick" parameterType="Pdto" resultType="Bdto">
		select B.* from(select rownum rn, A.* from (select * from board where nick=#{nick} order by num 
		desc)A)B where rn between #{startPage} and  #{endPage}
	</select>
	
	<!-- 페이징 리스트 가져오기 (최신 참여 설문) -->
	<select id="board_pagingList_take" parameterType="Pdto" resultType="Tdto">
		select B.* from(select rownum rn, A.* from (select * from TakeSurvey where nick=#{nick} order by num 
		desc)A)B where rn between #{startPage} and  #{endPage}
	</select>
	
	<!-- 참여한 설문조사 등록 -->
	<insert id="takeSurbey" parameterType="Tdto">
		insert into TakeSurvey(num,nick,title,deadline,hit,point,bnum) 
		values(TAKESURVEY_NUM.nextval,#{nick},#{title},#{deadline},#{hit},#{point},#{bnum})
	</insert>
	<!-- 참여한 설문조사 검색(최신순) -->
	<select id="TakeSurbeySearch" parameterType="String" resultType="Tdto">
		select * from TAKESURVEY WHERE nick=#{loginUser} ORDER BY num DESC
	</select>
	
	<select id="VoteSelect" parameterType="int" resultType="String">
		select nick from VOTE where num=#{num}
	</select>

	<!-- 페이징 리스트 가져오기(최신순) -->
	<select id="board_pagingList" parameterType="Pdto" resultType="Bdto">
		select B.* from(select rownum rn, A.* from (select * from board where deadline>=sysdate-1 order by num
		desc)A)B where rn between #{startPage} and #{endPage}
	</select>
	
	<!-- 페이징 리스트 가져오기(조회수) -->
	<select id="board_pagingList_hit" parameterType="Pdto" resultType="Bdto">
		select B.* from(select rownum rn, A.* from (select * from board where deadline>=sysdate-1 order by hit
		desc)A)B where rn between #{startPage} and #{endPage}
	</select>
	
	<!-- 페이징 리스트 가져오기(마감순) -->
	<select id="board_pagingList_deadline" parameterType="Pdto"
		resultType="Bdto">
		select B.* from(select rownum rn, A.* from (select * from board where deadline>=sysdate-1 order by deadline
		asc)A)B where rn between #{startPage} and #{endPage}
	</select>
  
	
	<!-- 포인트 히스토리 --> 
	<select id="pointHistory" parameterType="String" resultType="Tdto">
		select * from TakeSurvey where nick=#{loginUser} order by dt desc
	</select>
	
	<select id="dateSecond" parameterType="String" resultType="String">
		select to_char(dt,'yyyy-mm-dd hh24:mi:ss') from TakeSurvey  where nick=#{loginUser} order by dt desc
	</select>
 
	<!-- best 설문조사 -->
	<select id="bestServey" resultType="Bdto">
		SELECT * FROM ((SELECT * FROM board where deadline >= sysdate-1) ORDER BY point desc, hit DESC) WHERE ROWNUM <![CDATA[<=]]> 3
	</select> 
	
</mapper>
